.loader {
  display: inline-block;
}

.loader-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--spacing-lg) 0;
}

.loader-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loader-small .loader-ring {
  width: 32px;
  height: 32px;
}

.loader-medium .loader-ring {
  width: 64px;
  height: 64px;
}

.loader-large .loader-ring {
  width: 80px;
  height: 80px;
}

.loader-ring:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid var(--primary-color);
  border-color: var(--primary-color) transparent var(--primary-color) transparent;
  animation: loader-ring 1.2s linear infinite;
}

.loader-small .loader-ring:after {
  border-width: 3px;
}

.loader-medium .loader-ring:after {
  border-width: 6px;
}

.loader-large .loader-ring:after {
  border-width: 8px;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 